[Unit]
Description= gunicorn instance for fastapi_x application
After=network.target

[Service]
User=lado
Group=lado
WorkingDirectory=/home/lado/app/src/
Environment="PATH=/home/lado/app/venv/bin"
EnvironmentFile=/home/lado/.env
ExecStart=/home/lado/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target  